<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<title>Profile</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
<!--===============================================================================================-->	
	<link rel="stylesheet" type="text/css" th:href="@{/css/profile.css}">
<!--===============================================================================================-->
</head>
<body>
	<div id="main-card">
        <div class="cover-photo"></div>
        <div class="photo">
            <img src="https://avatars.githubusercontent.com/u/41117245?v=4" alt="">
        </div>
        <div class="content">
            <p style="color: red" th:if="${error != null}" th:text="${error}"></p>
            <h2 class="name" th:text="${session.user.firstName + ' ' + session.user.lastName}"></h2>
            <h3 class="fullstack" th:text="${session.user.job}"></h3>
            <h3 class="email">
                <a href="mailto:${session.user.email}" th:text="${session.user.email}"></a>
            </h3>

        </div>
        <div class="contact">
            <a th:href="@{'/update'}">
                <h2 class="fullstack">Đổi mật khẩu</h2>
            </a>
        </div>
        <div class="contact">
            <a th:href="@{'/logout'}">
                <h2 class="fullstack">Đăng xuất</h2>
            </a>
        </div>
    </div>
</body>
</html>